body {
	background-color: #DDD;
}

h1 {
	text-align: center;
}

h2 {
	text-align: left;
}

img {
	max-width: 100%;
	border: 1px solid transparent;
}

img:hover {
	border: 1px solid #777;
}

.iframe-outer {
	position: relative;
	max-width: 100%;
	padding-bottom: 56.25%; /* Magic fix to make video correct height */
}

iframe {
	position: absolute;
	width: 100%;
	height: 100%;
}

.gallery {
	text-align: center;
}

.thumbnail {
	margin: 5px 0 5px 0;
}

blockquote {
	border-left: 5px solid #BBB;
	padding-left: 10px;
}